* {
    font-family: 'Roboto', sans-serif;
}

.text-blue {
    color: #007bff;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}